*
body{
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: 'Comics sans'sans-serif, serif;
	color: #333;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/** bagian Header **/
header {
	height: 100px;
}
header h1{
	display: inline-block;
	float: left;
	text-transform: uppercase;
	padding: 10px 25px;
}
a{
	text-decoration: none;
}
header h1 a:hover{
	transition-property: .3s;
}
header h1 a:hover{
	color: #FF2D00;
}
header ul {
	float: right;

}
header ul li {
	padding: 24px;
	display: inline-block;
}
header ul li a:hover {
	color: #FF2D00;
}
.container {
	width: 90%;
	margin:0 auto;

}
.container::after{
	content; '';
	display: block;
	clear:both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
	
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0; 
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(193, 12, 3, .9);
	transition: .3s;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #000000;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #0097FF;
	padding: 120px 0;
}
section {
	padding: 50px 0;
}
.banner img{
	width: 25%;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2{
	margin-bottom: 10px;
}
.banner p {
	font-size: 18px;
}
.banner-left{
	padding: 24px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px); 
}
section h3::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #0097FF;
	left: calc(50% - 20px); 
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
#Skills {
	background-color: #f9f9f9;
}
#Skills .bar {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
	
}
.bar .nilai {
	height: 30px;
	background-color: #f84744;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.Berjiwa.Pemimpin {
	width: 90%;
}
.Berfikir.Kritis {
	width: 85%;
}
.berkomunikasi {
	width: 95%;
}
.Kreatif {
	width: 80%;
}
.Manajemen.Waktu {
	width: 82%;
}
.col-4{
	width:25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img{
	width: 100%;
}
.col-4 a:hover img{
	transform: scale(1.1);
	background-color:#ddd ;
}
.col-3{
	width: 33.33%;
	background-color: #fff;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	text-align: center;
}

footer {
	width: 68%;
	margin: 1px solid; 
	text-align: center;
	font-size: 13px;

}
footer small {
	color: #333;
}
@media (max-width: 1000px) {
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width: 90%;
	}
	.col-3 {
		width: none;
		text-align: center;
	}
	#copyright{
		font-size: 13px;
		text-align: center; 
	}
}	
